*{
  cursor: url('immagini/cursor.png'), auto;

}

body{
  font-family: 'neue_montreal', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size: 3vh;
  max-height: 100vh;
  margin: 0;
}

.break_mobile{
  display: none;
  content: "";
  margin-top: 10px;
}

.italic{
  font-weight:normal;
  font-style:italic;
}

.main_content{
  height: 98vh;
  margin-top: 5px;
  margin-left: 5px;
}

.main_works{
  position: relative;
  height: fit-content;

  margin: 0;
  height: 98vh;
}

.inside_content{
  margin-left: 17pt;
  position: relative;
}


#introduction{
  position: relative;
  top: 0vh;
  height: 20%;
}


#first_ph{
  position: relative;
  /* top: 20%; */
  height: 24%;
  /* transform: translate(0,-75%); */
}

#second_ph{
  position: relative;
  /* top: 37%; */
  height: 56%;
  /* transform: translate(0,-100%); */
}

.contacts{
  position: relative;
  /* top: 67%; */
  transform: translate(0,-100%);
}

.first_line{
  position: relative;
}

.second_line{
  position: relative;
}


a.blue_link:visited, a.blue_link:hover, a.blue_link:active, a.blue_link:link{
  color: #0000FF;
}

a.black_link:visited, a.black_link:hover, a.black_link:active, a.black_link:link{
  color: #000000;
}

a.plain_link:visited, a.plain_link:hover, a.plain_link:active, a.plain_link:link{
  color: #000000;
  text-decoration: none;
}

.blue_text{
  color: #0000FF;
  font-size: 8pt;
  position: relative;
  top: 0;
}

.DL_CV{
  float: right;
  position: fixed;
  right: 10px;
  margin-top: 80px;
  border-bottom-style: dashed;
  border-width: 2px;
  border-color: #0000FF;
  z-index: 1;
  font-size: 13pt;
}

.arrow{
  float: right;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 1;
}

.arrow_img{
  width: 30px;
  object-fit: contain;
}

.works{
  position: absolute;
  top: 12%;
  right: 10px;
}

.slideshow{
 max-height: 70vh;
 display: none;
}

.works_title{
  display: none;
}

.numero_div{
  position: relative;
  top: 40vh;
  transform: translate(0,-100%);
}

@media only screen and (min-width: 740px) and (max-width: 1024px){
  body{
    font-size: 17pt;
    margin: 0;
  }

  a.blue_link:visited, a.blue_link:hover, a.blue_link:active, a.blue_link:link{
    font-weight: bold;
    font-size: 17pt;
  }

  .break_desktop{
    display: none;
  }


  .break_mobile{
    display: block;
  }

  .numero_div{
    position: absolute;
    top: 70vh;
  }

  .arrow{
    top: 10px;
  }

  .arrow_img{
    width: 17px;
  }

  .slideshow{
   max-width: 90vw;
  }

  .works{
    position: relative;
    top: 3%;
    float: right;
    right: 10px;
  }
}

@media only screen and (max-width: 740px) {

  body{
    font-size: 15pt;
  }

  .break_desktop{
    display: none;
  }

  .break_mobile{
    display: block;

  }

  .slideshow{
   max-width: 90vw;
  }

  a.blue_link:visited, a.blue_link:hover, a.blue_link:active, a.blue_link:link{
    font-weight: bold;
    font-size: 15pt
  }

  .DL_CV{
    font-size: 10pt;
    margin-top: 45px;
    border-width: 1px;
  }

  .arrow{
    top: 20px;
  }

  .arrow_img{
    width: 17px;
  }

  .numero_div{
    position: absolute;
    top: 60vh;
  }

  .works{
    position: relative;
    top: 3%;
    float: right;
    right: 10px;
  }
}
